<div class="container">
    <div class="content-left">
        <h2>TRINETHRA</h2>
        <p>Take a step towards success with our comprehensive test solutions.</p>
    </div>
    <div class="content-right">
        <h2>Forgot Password</h2>
        <form [formGroup]="passwordReset" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" id="username" formControlName="email" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" formControlName="password" autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="password">Confirm New Password</label>
                <input type="password" id="password" formControlName="confirmPassword" autocomplete="off" />
            </div>
            <button type="submit" [disabled]="!passwordReset.valid">Login</button>
            <br>
            <p>Go Back to Login <a routerLink="/login">Click Here</a></p>

        </form>
    </div>
</div>