<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Trinethra Test Portal</h1>
        <p>Discover a wide range of meticulously designed tests to evaluate your skills and knowledge.</p>
        <p>Whether you're preparing for exams or seeking to improve your proficiency, Trinity has the right tests
            for
            you.</p>
        <p>Take a step towards success with our comprehensive test solutions.</p>
        <button class="btn btn-primary explore-button" type="button" (click)="gotoDashboard()">Explore Now</button>
    </div>
</div>